@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    Founded in 2010, MyLittlePetShop, Inc. is the largest specialty pet retailer of services and solutions for the lifetime needs of pets. At MyLittlePetShop, we love pets, and we believe pets make us better people. Every day with every connection, PetSmart’s passionate associates help bring pet parents closer to their pets so they can live more fulfilled lives. This vision impacts everything we do for our customers, the way we support our associates, and how we give back to our communities.

    We operate 16 pet stores in Macedonia, Serbia and Montenegro. MyLittlePetShop provides a broad range of competitively priced pet food and products and offers unique pet services including training, pet grooming, boarding, PetSmart Doggie Day Camp and in-store pet adoptions.

    Expert veterinarian care is available in many of our stores, where Banfield Pet Hospital®, operates full-service pet hospitals. These in-store pet hospitals operate independently of MyLittlePetShop and employ veterinarians who provide a full range of health care and emergency services.

    PetSmart, together with non-profits MyLittlePetShop Charities and MyLittlePetShop Charities of Macedonia, partners with nearly 4,000 animal welfare organizations to bring adoptable pets into stores so they have the best chance possible of finding a forever home. Through this in-store adoption program and other signature events, PetSmart has facilitated more than 100 000 adoptions – more than any other brick-and-mortar organization.
</p>
