@model IEnumerable<MyLittlePetShop.Models.ShoppingCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Add Category", "Create", null, htmlAttributes: new { @class = "btn btn-dark" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (User.IsInRole("Administrator"))
        {
            <th>Controls</th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name,"SearchByCategory","Home")
            <a >@item.Name</a>
        </td>
        @if(User.IsInRole("Administrator"))
        {
            <td>
                <button class="js-delete btn btn-danger" thisId="Id">Remove</button>
            </td>
        }
    </tr>
}
</table>
@section scripts{
    <script src="~/Scripts/AppScripts/js-async-delete.js"></script>
    }